.container-conf{
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}
.bg-conf{
  background-color: black;
}
.title{
  margin: 20px 0;
  /*border-bottom: 2px solid black;*/
}
/*.content a:hover{
  text-decoration: none;
  transform: scale(120%);
}*/
/*.content{
  background-color: #f3f3f3;
  display: flex;
}*/
.card-conf{
  width: 160px;
  height: 250px;
  float: left;
  overflow: hidden;
  padding: 7px 10px 30px 10px;
  border: 0px;
  background-color: transparent;

}
@media (max-width: 1200px){
  .card-conf{
    height: 230px;
  }
}
@media (max-width: 767px){
  .card-conf{
    width: 20%;
    height: 30vw;
    padding: 7px 7px 14px 7px;
  }
}
@media (max-width: 660px){
  .card-conf{
    width: 25%;
    height: 35vw;
    padding: 7px 7px 14px 7px;
  }
}
@media (max-width: 510px){
  .card-conf{
    width: 33.33%;
    max-width: 150px;
    height: 50vw;
    padding: 7px 5px 14px 5px;
  }
}
@media (max-width: 476px){
  .card-conf{
    width: 33.33%;
    height: 50vw;
    padding: 7px 5px 14px 5px;
  }
}
@media (max-width: 320px){
  .card-conf{
    width: 50%;
    max-width: 150px;
    height: 70vw;
    padding: 7px 7px 10px 7px;
  }
}

/*Card Body*/

.card-body{
  position: relative;
  border-radius: 10px;
  transition: 0.2s;
  width: 100%;
  background-position: center;
  background-size: cover;
  padding: 0;
}
.card-body:hover{
  transition: 0.2s;
  transform: scale(1.03);
}
.card-body:hover{
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0);
}

/*Card Body h4*/

.card-body h4{
  position: absolute;
  bottom: -10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  width: 100%;
  padding: 12px 5px;
  color: white;
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.0), black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 0.0), black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.0), black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, 0.0), black); /* Standard syntax */
}
@media (min-width: 768px){
  .card-body h4{
    font-size: 20px;
  }
}
@media (max-width: 768px){
  .card-body h4{
    font-size: 17px;
  }
}
.slider-item{
  width:100%;
}

.trending{
  display: grid;
  width: 100%;
  background: white;
}

.cat{
  display: grid;
  width: 100%;

  /*background: #eee;*/
}

/*user*/
.user-pro-pic{
  width: 220px;
  height: 220px;
  border-radius: 110px;
  background-size: cover;
  background-position: center;
  float: left;
  margin-top: -10px;
}
.user-desc{
  float: left;
  display: block;
  margin: 10px 15px;
  padding: 10px;
}

.user-desc a{
  text-decoration: none;
  color: #212529;
}

.user-desc input{
  height: 40px;
  margin: 10px 0;
  border: 0px;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 20px;
}
.user-desc select{
  cursor: pointer;
  font-size: 20px;
  margin: 10px 0;
  width: 100%;
  max-width: 250px;
  padding: 10px 0;
  border: 0px;
  border-bottom: 1px solid black;
  outline: none;
}
.user-desc button{
  cursor: pointer;
  max-width: 250px;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 20px;
  color: white;
  border: 0px;
  background-color: dodgerBlue;
  border-radius: 10px;
  margin-bottom: 10px;
}
.user-desc button:active{
  transition: 0.05s;
  transform: scale(0.9);
}
.user-desc button i {
  font-size: 18px;
}
.user-profile{
  /*border-top: 1px solid black;*/
}
.main-title{
  position: relative;
  width: 100%;
  height: 150px;
  background: black;
  color: white;
  padding-top:20px;
  margin-top: -50px;
  transform: skewY(177deg);
  z-index: -1;
}
.main-title h1{
  margin-top: 40px;
  transform: skewY(3deg);

}

#form{
  box-sizing: border-box;
  background: black;
  padding-top: 100px;
  height: calc(100vh - 56px);
}
#form .form-conf{
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}
#form .form-conf h1{
  margin-left: -30px;
  margin-bottom: 15px;
  color: white;
  font-size: 50px;
}
@media (max-width: 560px) {
  #form .form-conf h1{
    margin-left: 0px;
  }
}
#form .form-conf span{
  color: white;
  float: right;
}
#form .form-conf label{
  color: white;
}
#form .form-conf .btn{
  background-color: white;
  color: black;
  border: 0;
  cursor: pointer;
}
